.message__tools-right {
  display: none;

  transition: all .1s linear;

  &.sent {
    .message__tools-right-spam {
      display: none;
    }

    .message__tools-right-delete {
      margin-right: 5px;
    }
  }
}

.message__tools-right-delete {
  margin-right: -7px;
}

.message__tools-right-more {
  position: relative;
}

.message__tools-right-more-menu {
  display: none;

  position: absolute;
  top: 200%;
  right: -17px;
  z-index: 1;

  &.active {
    display: flex;
  }
}
