@import '../../../styles/vars.scss';


.toolbar__search {
  margin-left: auto;
  margin-right: 172px;

  input {
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 2px 10px;

    color: inherit;

    &:focus {
      outline: 2px $primary-color solid;
    }
  }

  & {
    position: relative;

    button {
      position: absolute;
      right: 5px;
      top: 5px;

      cursor: pointer;

      transition: transfrom .1s linear;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
