.toolbar__select-all-btn,
.toolbar__select-arrow {
  svg {
    cursor: pointer;
    transition: transform .1s linear;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.toolbar__select-all-btn {
  font-size: 25px;
}

.toolbar__select-arrow {
  position: relative;
  font-size: 20px;

  margin-left: 5px;
}

.toolbar__which-select {
  position: absolute;
  top: 25px;
  right: -145px;

  flex-direction: column;
  min-width: 150px;

  font-size: 17px;
  color: #fff;
  text-align: right;

  padding: 10px;
  margin-right: 10px;
  cursor: pointer;

  background-color: rgb(83, 83, 83);
  border-radius: 0 5px 5px;

  transition: all .1s linear;

  div {
    margin: 1px 0;
    min-height: 30px;

    svg {
      font-size: 17px;
      color: #fff;

      margin-right: 8px;
    }
  }

  div:hover {
    background-color: grey;
    border-radius: 5px;
    
    padding-right: 5px;
    padding-left: 5px;
  }
}
