.selectedMenu {
  margin-left: 25px;

  button {
    margin: 0 7px;

    font-size: 20px;
    cursor: pointer;

    transition: transform .1s linear;

    &:hover {
      transform: scale(1.2);
    }
  }
};
