@import '../../../styles/vars.scss';


.validate-menu {
  flex-direction: column;
  margin: 3px 0;

  svg {
    font-size: 15px;
    margin-left: 3px;

    cursor: pointer;

    transition: all .1s linear;

    &:hover {
      fill: darken($primary-color, 60%);

      transform: rotate(90deg);
    }
  }
}

.validate-menu__form {
  position: relative;

  display: flex;
  align-items: center;
  border: 1px $primary-color solid;
  border-radius: 5px;

  input {
    max-width: 100px;
    margin-left: 3px;

    font-size: 17px;
    color: $primary-color;

    outline: none;
    border: none;
  }

  svg {
    font-size: 20px;
    margin-right: 3px;

    cursor: pointer;

    transition: transform .1s linear;

    &:hover {
      fill: darken($primary-color, 60%);

      transform: scale(1.2);
    }
  }
}

.validate-menu__error {
  font-size: 13px;
  color: rgba(247, 38, 90, 0.945);
}
