.message__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animate-message {
  opacity: 0;
  transform: scale(0.8);
}
.animate-message-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.animate-message {
  opacity: 1;
  transform: scale(1);
}
.animate-message-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 300ms, transform 300ms;
}
