.message__tools-left {
  visibility: hidden;
  align-items: center;

  font-size: 20px;

  transition: all .1s linear;

  .message__check {
    margin-right: 7px;

    &.active {
      color: #fff;
      box-shadow: 1px 1px 14px -7px rgba(0, 0, 0, 1);
    }
  }

  .message__star {
    &.active {
      color: #000;
      box-shadow: 1px 1px 14px -7px rgba(0, 0, 0, 1);
    }
  }
}
