@import '../../../../styles/vars.scss';


.message__tools-right-more-menu-folders {
  display: none;

  min-width: 150px;
  background-color: $primary-color;
  border-radius: 0 5px 5px;

  flex-direction: column;

  position: absolute;
  top: 0;
  right: -145px;

  padding: 7px;

  font-size: 16px;
  color: #fff;
  text-align: right;

  &.active {
    display: flex;
  }

  div {
    justify-content: start;
    max-width: 150px;

    &:hover {
      background-color: grey;
      border-radius: 5px;

      padding-right: 5px;
      padding-left: 5px;
    }

    svg {
      font-size: 17px;
      margin-right: 5px;
    }

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      max-width: 95px;
    }
  }
}
