.message {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-height: 35px;
  margin-bottom: 5px;
  padding: 25px;

  color: rgb(83, 83, 83);

  border-top: 1px solid rgba(145, 145, 145, 0.3);
  border-radius: 5px;
  cursor: pointer;

  transition: all .05s linear;

  &:hover {
    box-shadow: 1px 1px 4px 1px rgba(34, 60, 80, 0.3);
  }
}

.message__name {
  min-width: 200px;
  
  font-weight: 600;
}

.message__preview {
  min-width: 500px;
}

.message__date {
  margin-left: auto;

  font-size: 14px;
}
