@import '../../styles/vars';


.message {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-height: 35px;
  min-width: 850px;
  margin-bottom: 5px;
  padding: 25px 10px;
  padding-right: 5px;

  color: $primary-color;

  border-top: 1px solid rgba(145, 145, 145, 0.3);
  border-radius: 5px;
  cursor: pointer;

  transition: all .1s linear;

  &.notRead {
    background-color: #e2e2e2;
  }

  &.selected {
    background-color: #75b2ff;
    color: #fff;

    .message__check {
      transition: all .1s linear;
      transition: transform .3s linear;

      visibility: visible;
      color: darken($primary-color, 40%);
      transform: scale(1.3);
    }

    .message__star {
      visibility: hidden;
    }

    .message__tools-right {
      display: none;
    }
  }

  &:not(.selected):hover,
  &.active {
    box-shadow: 1px 1px 4px 1px rgba(34, 60, 80, 0.3);

    .message__tools-left {
      visibility: visible;

      &.hidden {
        visibility: hidden;
      }

      svg {
        transition: transform .1s linear;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .message__date {
      display: none;
    }

    .message__tools-right {
      &.sent {
        justify-content: right;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: 20px;

      width: 100%;

      svg {
        transition: transform .1s linear;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.message__name {
  min-width: 200px;
  margin-left: 5px;

  font-weight: 600;
}

.message__preview {
  min-width: 500px;
}

.message__date {
  width: 100%;

  text-align: right;
  font-size: 14px;
}
