@import '../../../styles/vars.scss';

.folders {
  margin: 0 20px 0 0;
  min-width: 180px;

  color: $primary-color;
}

.folders__line {
  display: inline-block;

  height: 1px;
  width: 100px;

  background-color: rgb(206 206 206);
}

.folders__item {
  align-items: center;
  justify-content: space-between;

  padding: 5px 10px;

  text-align: center;
  font-size: 17px;

  cursor: pointer;
  border-radius: 5px;

  transition: all .1s linear;

  p {
    margin-left: 5px;
  }

  &:hover {
    background-color: $primary-color;
    color: #fff;

    .folders__item-tools {
      visibility: visible;
    }
  }
}

.folders__add {
  font-size: 25px;
  cursor: pointer;

  color: $primary-color;

  margin-left: 5px;

  transition: all .1s linear;

  &:hover {
    color: darken($primary-color, 60%);

    transform: scale(1.2);
  }
}

.folders__item-info {
  align-items: center;
}

.folders__item-info-name {
  max-width: 90px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.folders__item-tools {
  align-items: center;

  visibility: hidden;
}

.folders__item-tools-edit,
.folders__item-tools-remove {
  font-size: 15px;
  margin-left: 5px;
  transition: transform .1s linear;

  &:hover {
    transform: scale(1.2);
  }
}
